* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fefbe9;
  font-family: "PT Serif";
}

body.dark {
  background-color: black;
  color: #fefbe9;
}

main {
  margin: calc(13vh + 20px) 20px calc(10vh + 20px) 20px;
}
