@media screen and (min-width: 37.5rem) {
  .user {
    justify-content: space-around;
  }
  .user__image {
    width: 15.625rem;
  }
  h3 {
    padding-top: 1.875rem;
  }

  .about-me-and-counter__counter-section__counter {
    padding: 0.625rem 1.25rem;
  }
}

@media screen and (min-width: 37.5rem) and (max-height: 31.25rem) {
  .user__image {
    width: 6.25rem;
  }
}

@media screen and (min-width: 56.25rem) {
  main {
    max-width: 46.875rem;
    margin: calc(13vh + 20px) auto calc(10vh + 20px) auto;
  }
  .user__name {
    font-size: 1.8rem;
  }
  .card {
    margin: 1.875rem auto;
  }
  .card__bookmark {
    top: -1.25rem;
    right: 3.125rem;
  }
  .card__bookmark--icon {
    height: 2.625rem;
  }
}

@media screen and (min-width: 75rem) {
  .footer__navbar {
    max-width: 75rem;
    margin: 0 auto;
  }
}

@media (pointer: coarse) {
  .card__show-hide-button:active {
    background-color: var(--highlight-color);
    color: #000;
    font-weight: bold;
  }
  .footer__navbar__nav-li-element:active {
    background-color: var(--highlight-color);
    border: 2px solid #fff;
    border-radius: 10px;
  }
  .form__submit-button:active {
    background-color: var(--highlight-color);
    color: #000;
    font-weight: bold;
  }
}

@media (pointer: fine) {
  .card__show-hide-button:hover {
    background-color: var(--highlight-color);
    color: #000;
    font-weight: bold;
  }
  .footer__navbar__nav-li-element:hover {
    background-color: var(--highlight-color);
    border: 2px solid #fff;
    border-radius: 10px;
  }
  .form__submit-button:hover {
    background-color: var(--highlight-color);
    color: #000;
    font-weight: bold;
  }
}
