:root {
  --background-color: #fefbe9;
  --background-color-dark: #373a3e;
  --header-color: #f6c453;
  --header-color-dark: #222324;
  --card-background-color: #e1eedd;
  --button-color: #183a1d;
  --highlight-color: #f0a04b;
  --codeblock-color: #d3d3d3;
}
