@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

.md-orange {
  background-color: #f0a04b;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fefbe9;
}

p,
button,
div {
  font-family: "PT Serif";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 13vh;
  background-color: #f6c453;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

h1 {
  font-family: "PT Sans";
}

main {
  margin-top: calc(13vh + 20px);
}

.card {
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
  position: relative;
  text-align: center;
  background-color: #e1eedd;
}

/* bookmark-icon einfügen */

.material-symbols-outlined {
  position: absolute;
  top: -15px;
  right: 15px;
}

.question {
  margin: 30px 50px;
  line-height: 1.25em;
}

button {
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 20px;
  width: fit-content;
  background-color: #183a1d;
  color: #fefbe9;
}

/* Sichtbarkeit von .answer durch Hinzufügen oder Entfernen von class="visible". Entsprechend muss dann auch der Text im Button verändert werden. */

.answer {
  display: none;
  margin: 30px auto;
  line-height: 1.25em;
}

.answer.visible {
  display: block;
}

.code-block {
  padding: 7px;
  margin: 5px;
  background-color: #d3d3d3;
  width: fit-content;
  margin: 0 auto;
}

.hashtags {
  display: flex;
  justify-content: flex-start;
}

.tag {
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin: 3px;
  background-color: #fefbe9;
  border-radius: 10px;
  font-size: smaller;
  margin-top: 30px;
}
