@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

/* Font-Family hinzufügen */

body {
  background-color: #fefbe9;
}

p,
button,
div {
  font-family: "PT Serif";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 13vh;
  background-color: #f6c453;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

h1 {
  font-family: "PT Sans";
}

main {
  margin-top: calc(13vh + 20px);
}

.card {
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
  position: relative;
  text-align: center;
  background-color: #e1eedd;
}

/* bookmark-icon einfügen */

.bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: #f0a04b;
}

.question {
  margin: 30px 50px;
  line-height: 1.25em;
}

button {
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 20px;
  width: fit-content;
  background-color: #183a1d;
  color: #fefbe9;
}

/* Sichtbarkeit von .answer fixen */

.answer {
  /* display: none; */
  margin: 30px auto;
  line-height: 1.25em;
}

.answer:first-of-type {
  display: none;
}

.code-block {
  padding: 7px;
  margin: 5px;
  background-color: #d3d3d3;
  width: fit-content;
  margin: 0 auto;
}

/* code {
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New";
  font-size: 0.8em;
} */

.hashtags {
  display: flex;
  justify-content: flex-start;
}

.tag {
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin: 3px;
  background-color: #fefbe9;
  border-radius: 10px;
  font-size: smaller;
  margin-top: 30px;
}
