@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fefbe9;
}

p,
button,
div {
  font-family: "PT Serif";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 13vh;
  background-color: #f6c453;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

h1 {
  font-family: "PT Sans";
}

main {
  margin-top: calc(13vh + 20px);
}

.card {
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
  position: relative;
  text-align: center;
  background-color: #e1eedd;
  border-radius: 10px;
}

.bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
}

.hidden {
  visibility: hidden;
}

img {
  height: 36px;
  visibility: visible;
  z-index: 1;
}

.question {
  margin: 30px 50px;
  line-height: 1.25em;
}

.show-hide {
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 20px;
  width: fit-content;
  background-color: #183a1d;
  color: #fefbe9;
  border-radius: 10px;
}

.show-hide:hover {
  background-color: #f0a04b;
  color: black;
  font-weight: bold;
}

/* Sichtbarkeit von .answer durch Hinzufügen oder Entfernen von class="visible". Entsprechend muss dann auch der Text im Button verändert werden. */

.answer {
  display: none;
  margin: 30px auto;
  line-height: 1.25em;
}

.answer.visible {
  display: block;
}

.code-block {
  padding: 7px;
  margin: 5px;
  background-color: #d3d3d3;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}

.hashtags {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.tag {
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin: 3px;
  background-color: #fefbe9;
  border-radius: 10px;
  font-size: smaller;
  margin-top: 30px;
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6c453;
  z-index: 1;
}

.navbar {
  height: 10vh;
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  align-items: center;
}

.navbar li {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li:hover {
  background-color: #f0a04b;
  border: 2px solid white;
  border-radius: 10px;
}

.navbar li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #f0a04b;
  border-radius: 10px;
}

.profile-main {
  padding: 30px 20px;
  margin-top: 13vh;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-box h2 {
  position: relative;
  top: -20px;
}

.profile-pic {
  width: 100px;
  height: auto;
  border-radius: 30px;
}

h3 {
  padding: 15px 0 8px 0;
}

.about-me-and-counter p {
  font-size: 0.9em;
}

.emoticon img {
  padding-left: 4px;
  transform: scaleX(-1);
  height: 0.9em;
}

.counter-section {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  border: 2px solid #183a1d;
  padding: 5px 10px;
  width: 30vw;
  background-color: #e1eedd;
  color: #183a1d;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter-placeholder {
  font-weight: bold;
}

.darkmode-flex {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}

.slider-label {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

#checkbox {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #183a1d;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: #e1eedd;
  bottom: 4px;
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  content: "";
}

input:checked + .slider {
  background-color: #f6c453;
}

input:checked + .slider:before {
  background-color: black;
  transform: translateX(26px);
}

.slider:before {
  border-radius: 50%;
}

/* Hier könnte ich versuchen dem Slider Mond- und Sonne-Icons hinzuzufügen.

.slider-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("./icons/moon.svg");
  background-size: cover;
}

input:checked + .slider-content {
  left: 30px;
  background-image: url("./icons/sun.svg");
}
*/
