.card {
  margin: 20px 0;
  border: 2px solid #000;
  padding: 10px;
  position: relative;
  text-align: center;
  background-color: var(--card-background-color);
  border-radius: 10px;
}

.card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
}

.card__bookmark--hidden {
  visibility: hidden;
}

.card__bookmark--icon {
  height: 36px;
  visibility: visible;
  z-index: 1;
}

.card__question {
  margin: 30px 50px;
  line-height: 1.25em;
}

.card__show-hide-button {
  margin: 0 auto;
  border: 2px solid #000;
  padding: 10px 20px;
  width: fit-content;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 10px;
}

.card__show-hide-button:hover {
  background-color: var(--highlight-color);
  color: #000;
  font-weight: bold;
}

/* Sichtbarkeit von .answer durch Hinzufügen oder Entfernen von class="visible". Entsprechend muss dann auch der Text im Button verändert werden. */

.card__answer {
  display: none;
  margin: 30px auto;
  line-height: 1.25em;
}

.card__answer--visible {
  display: block;
}

.card__answer__code-block {
  padding: 7px;
  margin: 5px;
  background-color: var(--codeblock-color);
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}

.card__hashtags {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.card__hashtags__tag {
  border: 2px solid var(--codeblock-color);
  padding: 5px;
  margin: 3px;
  background-color: var(--background-color);
  border-radius: 10px;
  font-size: smaller;
  margin-top: 30px;
  list-style: none;
}
