.form__fieldset {
  margin: 20px auto;
  border: 2px solid #000;
  padding: 10%;
  position: relative;
  max-width: 750px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  font-size: var(--medium);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__fieldset--legend {
  border: 2px solid var(--codeblock-color);
  padding: 5px 10px;
  position: relative;
  max-width: 750px;
  background-color: var(--background-color);
  border-radius: 10px;
  font-size: var(--medium);
}

.form__user-input {
  border: 2px solid var(--codeblock-color);
  background-color: var(--background-color);
  border-radius: 10px;
  font-size: var(--medium);
  margin-bottom: 20px;
}

.form__user-input:focus {
  border: 2px solid var(--highlight-color);
  outline: none;
}

.form__submit-button {
  margin: 0 auto;
  border: 2px solid #000;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 10px;
}
