.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__name {
  position: relative;
  top: -20px;
}

.user__image {
  width: 100px;
  height: auto;
  border-radius: 30px;
}

h3 {
  padding: 15px 0 8px 0;
}

.about-me-and-counter__text {
  font-size: 0.9em;
}

.about-me-and-counter__emoticon {
  padding-left: 4px;
  transform: scaleX(-1);
  height: 0.9em;
}

.about-me-and-counter__counter-section {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-and-counter__counter-section__counter {
  border: 2px solid #183a1d;
  padding: 5px 10px;
  width: 30vw;
  background-color: #e1eedd;
  color: #183a1d;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-and-counter__counter-section__counter.dark {
  border: 2px solid #e1eedd;
  background-color: #183a1d;
  color: #e1eedd;
}

.about-me-and-counter__counter-section__counter--placeholder {
  font-weight: bold;
}
