.profile-main {
  padding: 30px 20px;
  margin-top: 13vh;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-box h2 {
  position: relative;
  top: -20px;
}

.profile-pic {
  width: 100px;
  height: auto;
  border-radius: 30px;
}

h3 {
  padding: 15px 0 8px 0;
}

.about-me-and-counter p {
  font-size: 0.9em;
}

.emoticon img {
  padding-left: 4px;
  transform: scaleX(-1);
  height: 0.9em;
}

.counter-section {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  border: 2px solid #183a1d;
  padding: 5px 10px;
  width: 30vw;
  background-color: #e1eedd;
  color: #183a1d;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter.dark {
  border: 2px solid #e1eedd;
  background-color: #183a1d;
  color: #e1eedd;
}

.counter-placeholder {
  font-weight: bold;
}
